@tailwind base;
@tailwind components;
@tailwind utilities;

// Màu sắc chủ đạo cho toàn bộ dự án
:root {
  --primary-color: #c92a15;
  --secondary-color: #f5f5f5;
  --text-color: #2e2e2e;
  --background-secondary: #fff7f0;
}
